<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header">
                <img class="logotip" src="logo.jpg" alt="Бригада электриков">
                <ul class="menu">
                    <li><a href="/" class="active">домой</a></li>
                    <li><a href="/products/">продукты</a></li>
                    <li><a href="/contact/">контакты</a></li>
</ul>
            </div>
        </header>
        <hr>
        <div class="content">
            <h1>Бригада электриков</h1>
            <p>Услуги по электромонтажу — основной вид деятельности нашей компании. Мы предоставляем комплексный качественный сервис по электрике. Производим работы любой сложности от замены розетки и прокладки кабеля до полной электрификации и автоматизации промышленных и торговых объектов от проекта до реализации под ключ. Накопленный опыт наших специалистов в сфере электромонтажных работ — гарантия качества для наших клиентов, а отсутствие посредников — гарантия низких цен!</p>
        </div>
        <footer>
            <hr>
            <div class="footer">
                <p>&copy;Все права защищены</p>
            </div>
        </footer>
    </div>
</body>

</html>
