<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style type="text/css">
        h1,
        h2,
        h3 {
            color: black;
            font-size: 18px;
            font-weight: 400;
            background-color: #eaeaea;
        }

    </style>
</head>

<body>
    <header>
        <a href="index.html"><img class="logotip" src="logo.jpg" alt="Бригада электриков"></a>
            <ul class="menu">
                <li><a href="/">домой</a></li>
                <li><a href="/products/" class="active">продукты</a></li>
                <li><a href="/contact/">контакты</a></li>
            </ul>
    <header/>
        <h1> Щит учета 15 кВт 380В </h1>
        <img class="logo" src="1.JPG" alt="Щит ЩУ">
        <h2> Описание товара </h2>
        <p class="short">Щит учета электроэнергии 15 кВт 380В предназначен для трехфазного подключения дома <br> и может устанавливаться как на опоре, так и на фасаде дома.</p>
        <button class="knopka">Купить</button>
        <h3>Характеристики товара</h3>
        <ul class="property">
            <li>Степень защиты IP65</li>
            <li>Кол-во фаз 3</li>
            <li>Кол-во тарифов электросчетчика 2</li>
            <li>Напряжение, В 380</li>
            <li>Гарантия год</li>
        </ul>

        <h3>Подробное описание товара</h3>
        <p class="full">Стандартное наполнение минимально необходимым оборудованием Щита учета электроэнергии 15 кВт 380В включает в себя: </p>
        <p class="full">Счетчик трехфазный многотарифный Нева МТ 324 — 1 шт <br> Автоматический выключатель трехполюсный 25А EKF с возможностью пломбировки — 1 шт. <br>
            Автоматический выключатель трехполюсный 25А ИЭК — 1 шт <br>
            Шина нулевая — 1 шт <br>Din-рейка — 2 шт </p>
        <hr>
        <div class="footer">
            <p>&copy;Все права защищены</p>
        </div>
</body>

</html>
